/* common */

html{
  height: 100%;
}
body{
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: rgba(72, 121, 99,0.8);
  font-family: 'Monofett', cursive;
  color: rgb(8, 41, 26);
}

/* header */

header{
  display: flex;
  height: 70px;
  justify-content: space-between;
}
#title{
  display: flex;
  margin: 10px 20px 20px;
}
header h1{
  color: #fff;
  margin: 0;
  font-weight: normal;
  font-size: 40px;
  letter-spacing: .05em;
}
header h2{
  color: #fff;
  font-size: 20px;
  margin: 16px 10px;
  font-weight: normal;
} 
ul{
  display: flex;
  margin: 20px 10px;
  padding: 0;
}
ul li{
  list-style: none;
  margin: 0 10px;
}
ul li a{
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  transition: opacity .3s;
}
ul li a:hover{
  opacity: .6;
}
#now{
  color: rgb(10, 65, 40);
}
#hambarger{
  display: none;
}

/* conrtainer */

#container{
  background-color: #fff;
  opacity: 0.9;
  height: calc(100% - 70px - 50px);
  width: 99%;
  border-radius: 8px;
  margin: 0 auto;
  text-align: center;
  user-select: none;
  position: relative;
  overflow: hidden;
  pointer-events: none;
}
#typed,
#untype{
  color: black;
  font-family: 'Ibarra Real Nova', serif;
  font-size: 55px;
  letter-spacing: 0.05em;
  display: inline;
}
#untype.flash{
  animation: flash 2s linear infinite;
}
#goodtype{
  display: flex;
  justify-content: center;
  padding: 80px 0 20px;
  font-size: 30px;
  letter-spacing: .05em;
  opacity: .8;
}
#more,
#restart{
  height: 35px;
  font-size: 30px;
  font-family: 'Ibarra Real Nova', serif;
}
#restart{
  color: black;
}
#misstype{
  display: flex;
  justify-content: center;
  padding-top: 25px;
  font-size: 30px;
  letter-spacing: .05em;
  color: rgb(202, 87, 67);
  opacity: .8;
}
#score,
#bad{
  padding-left: 10px;
}
#miss{
  min-height: 30px;
  font-size: 24px;
  font-family: 'Ibarra Real Nova', serif;
}
#ar{
  display: flex;
  align-items: flex-end;
  font-family: 'Xanh Mono', monospace;
  color:rgb(72, 121, 99);
  opacity: .9;
}
#accuracy{
  left: 50%;
  font-size: 80px;
  margin: 0 0 0 auto;
}
#ar.safe{
  color: rgb(72, 121, 99);
}
#ar.caution{
  color: rgb(221, 206, 0);
}
#ar.dead{
  color: rgb(182, 7, 7);
}
#ar p{
  left: 50%;
  margin: 0 auto 0 0;
  padding: 0;
  font-size: 40px;
}
#restart{
  display: none;
}
@keyframes flash{
  0%{
    opacity: 1;
  }
  50%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
#restart.show{
  display: block;
  animation: flash 2s linear infinite;
}
.balloon{
  font-family: 'Ibarra Real Nova', serif;
  width: 16px;
  height: 16px;
  line-height: 16px;
  font-size: 12px;
  border-radius: 50%;
  background-color: rgb(72, 121, 99);
  color: #fff;
  z-index: -1;
  position: absolute;
  opacity: .8;
  transition: transform 1.2s;
  pointer-events: all;
}
.balloon:hover{
  z-index: 1;
}

/* footer */

footer{
  color: #fff;
  font-size: 24px;
  width: 100%;
  height: 50px;
  line-height: 50px;
  text-align: center;
}

/* overlay */

#overlay{
  z-index: 1;
  position:fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom:0;
  background-color: rgba(72, 121, 99,0.8);
  opacity: 0;
  pointer-events: none;
  transition: opacity .6s;
}
#overlay.show{
  opacity: 1;
  pointer-events: all;
}
.overlay_menu{
  text-align: center;
  margin-top: 200px;
}
.overlay_menu ul{
  flex-direction:column;
}
.overlay_menu ul li + li{
  margin-top: 36px;
}
#overlay .overlay_menu li{
  opacity: 0;
  transform: translateY(16px);
  transition: all .3s;
}
#overlay.show .overlay_menu li{
  opacity: 1;
  transform: none;
}
#overlay.show .overlay_menu li:nth-child(1){
  transition-delay: .1s;
}
#overlay.show .overlay_menu li:nth-child(2){
  transition-delay: .2s;
}
#overlay.show .overlay_menu li:nth-child(3){
  transition-delay: .3s;
}

#close{
  display: block;
  position: absolute;
  top: 10px;
  right: 8px;
  margin: 0;
  color: #fff;
  font-size: 36px;
  cursor: pointer;
}

/* small */

@media(max-width: 600px){
  .normal_menu{
   display: none;
  }
  #hambarger{
    display: block;
    margin: 18px 10px 0 0;
    color: #fff;
    font-size: 30px;
    cursor: pointer;
    opacity: 1;
    pointer-events: all;
    transition: opacity .6s;
  }
  #hambarger.hidden{
    opacity: 0;
    pointer-events: none;
  }
}